.container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--lightGrayishCyanBackground);
}

.header {
    width: 100%;
    height: 150px;
    background-color: var(--desaturatedDarkCyan);
    background-image: url(../images/bg-header-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.wrap {
    padding: 1.5rem 1.7rem;
    /* margin-top: -6rem; */
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media screen and (min-width:700px) {
    .header {
        background-image: url(../images/bg-header-desktop.svg);
    }
}